In [7]:
#import libarires

import pandas as pd 
import numpy as np

In [3]:
data = pd.read_csv(r"C:\Users\gbhar\OneDrive\Desktop\pizza_sales.csv")

In [4]:
data

,pizza_id,order_id,pizza_name_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name
0,1,1,hawaiian_m,1,1/1/2015,11:38:36,13.25,13.25,M,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",The Hawaiian Pizza
1,2,2,classic_dlx_m,1,1/1/2015,11:57:40,16.00,16.00,M,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,...",The Classic Deluxe Pizza
2,3,2,five_cheese_l,1,1/1/2015,11:57:40,18.50,18.50,L,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",The Five Cheese Pizza
3,4,2,ital_supr_l,1,1/1/2015,11:57:40,20.75,20.75,L,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza
4,5,2,mexicana_m,1,1/1/2015,11:57:40,16.00,16.00,M,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza
...,...,...,...,...,...,...,...,...,...,...,...,...
48615,48616,21348,ckn_alfredo_m,1,31-12-2015,21:23:10,16.75,16.75,M,Chicken,"Chicken, Red Onions, Red Peppers, Mushrooms, A...",The Chicken Alfredo Pizza
48616,48617,21348,four_cheese_l,1,31-12-2015,21:23:10,17.95,17.95,L,Veggie,"Ricotta Cheese, Gorgonzola Piccante Cheese, Mo...",The Four Cheese Pizza
48617,48618,21348,napolitana_s,1,31-12-2015,21:23:10,12.00,12.00,S,Classic,"Tomatoes, Anchovies, Green Olives, Red Onions,...",The Napolitana Pizza
48618,48619,21349,mexicana_l,1,31-12-2015,22:09:54,20.25,20.25,L,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza
48619,48620,21350,bbq_ckn_s,1,31-12-2015,23:02:05,12.75,12.75,S,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",The Barbecue Chicken Pizza

In [5]:
# Analyze data frames

data.head()

,pizza_id,order_id,pizza_name_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name
0,1,1,hawaiian_m,1,1/1/2015,11:38:36,13.25,13.25,M,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",The Hawaiian Pizza
1,2,2,classic_dlx_m,1,1/1/2015,11:57:40,16.00,16.00,M,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,...",The Classic Deluxe Pizza
2,3,2,five_cheese_l,1,1/1/2015,11:57:40,18.50,18.50,L,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",The Five Cheese Pizza
3,4,2,ital_supr_l,1,1/1/2015,11:57:40,20.75,20.75,L,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza
4,5,2,mexicana_m,1,1/1/2015,11:57:40,16.00,16.00,M,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza

In [11]:
data.shape

(48620, 12)

In [12]:
data.index

RangeIndex(start=0, stop=48620, step=1)

In [13]:
data.columns

Index(['pizza_id', 'order_id', 'pizza_name_id', 'quantity', 'order_date',
       'order_time', 'unit_price', 'total_price', 'pizza_size',
       'pizza_category', 'pizza_ingredients', 'pizza_name'],
      dtype='object')

In [14]:
data.dtypes

pizza_id               int64
order_id               int64
pizza_name_id         object
quantity               int64
order_date            object
order_time            object
unit_price           float64
total_price          float64
pizza_size            object
pizza_category        object
pizza_ingredients     object
pizza_name            object
dtype: object

In [15]:
data['order_id'].unique()

array([    1,     2,     3, ..., 21348, 21349, 21350], dtype=int64)

In [16]:
data['pizza_ingredients'].unique()

array(['Sliced Ham, Pineapple, Mozzarella Cheese',
       'Pepperoni, Mushrooms, Red Onions, Red Peppers, Bacon',
       'Mozzarella Cheese, Provolone Cheese, Smoked Gouda Cheese, Romano Cheese, Blue Cheese, Garlic',
       'Calabrese Salami, Capocollo, Tomatoes, Red Onions, Green Olives, Garlic',
       'Tomatoes, Red Peppers, Jalapeno Peppers, Red Onions, Cilantro, Corn, Chipotle Sauce, Garlic',
       'Chicken, Pineapple, Tomatoes, Red Peppers, Thai Sweet Chilli Sauce',
       'Prosciutto di San Daniele, Arugula, Mozzarella Cheese',
       'Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce',
       'Kalamata Olives, Feta Cheese, Tomatoes, Garlic, Beef Chuck Roast, Red Onions',
       'Spinach, Red Onions, Pepperoni, Tomatoes, Artichokes, Kalamata Olives, Garlic, Asiago Cheese',
       'Spinach, Mushrooms, Tomatoes, Green Olives, Feta Cheese',
       'Capocollo, Red Peppers, Tomatoes, Goat Cheese, Garlic, Oregano',
       'Capocollo, Tomatoes, Goat Cheese, Artichokes, Peperoncini verdi, Garlic',
       'Spinach, Artichokes, Tomatoes, Sun-dried Tomatoes, Garlic, Pesto Sauce',
       'Mushrooms, Tomatoes, Red Peppers, Green Peppers, Red Onions, Zucchini, Spinach, Garlic',
       'Chicken, Tomatoes, Red Peppers, Red Onions, Jalapeno Peppers, Corn, Cilantro, Chipotle Sauce',
       'Chicken, Artichoke, Spinach, Garlic, Jalapeno Peppers, Fontina Cheese, Gouda Cheese',
       'Mozzarella Cheese, Pepperoni',
       'Chicken, Tomatoes, Red Peppers, Spinach, Garlic, Pesto Sauce',
       'Bacon, Pepperoni, Italian Sausage, Chorizo Sausage',
       'Soppressata Salami, Fontina Cheese, Mozzarella Cheese, Mushrooms, Garlic',
       'Ricotta Cheese, Gorgonzola Piccante Cheese, Mozzarella Cheese, Parmigiano Reggiano Cheese, Garlic',
       'Tomatoes, Anchovies, Green Olives, Red Onions, Garlic',
       '?duja Salami, Pancetta, Tomatoes, Red Onions, Friggitello Peppers, Garlic',
       'Eggplant, Artichokes, Tomatoes, Zucchini, Red Peppers, Garlic, Pesto Sauce',
       'Spinach, Artichokes, Kalamata Olives, Sun-dried Tomatoes, Feta Cheese, Plum Tomatoes, Red Onions',
       'Genoa Salami, Capocollo, Pepperoni, Tomatoes, Asiago Cheese, Garlic',
       'Spinach, Mushrooms, Red Onions, Feta Cheese, Garlic',
       'Coarse Sicilian Salami, Tomatoes, Green Olives, Luganega Sausage, Onions, Garlic',
       'Chicken, Red Onions, Red Peppers, Mushrooms, Asiago Cheese, Alfredo Sauce',
       'Pepperoni, Mushrooms, Green Peppers',
       'Brie Carre Cheese, Prosciutto, Caramelized Onions, Pears, Thyme, Garlic'],
      dtype=object)

In [17]:
data.nunique()

pizza_id             48620
order_id             21350
pizza_name_id           91
quantity                 4
order_date             358
order_time           16382
unit_price              25
total_price             56
pizza_size               5
pizza_category           4
pizza_ingredients       32
pizza_name              32
dtype: int64

In [18]:
data.count()

pizza_id             48620
order_id             48620
pizza_name_id        48620
quantity             48620
order_date           48620
order_time           48620
unit_price           48620
total_price          48620
pizza_size           48620
pizza_category       48620
pizza_ingredients    48620
pizza_name           48620
dtype: int64

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48620 entries, 0 to 48619
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   pizza_id           48620 non-null  int64
 1   order_id           48620 non-null  int64
 2   pizza_name_id      48620 non-null  object
 3   quantity           48620 non-null  int64
 4   order_date         48620 non-null  object
 5   order_time         48620 non-null  object
 6   unit_price         48620 non-null  float64
 7   total_price        48620 non-null  float64
 8   pizza_size         48620 non-null  object
 9   pizza_category     48620 non-null  object
 10  pizza_ingredients  48620 non-null  object
 11  pizza_name         48620 non-null  object
dtypes: float64(2), int64(3), object(7)
memory usage: 4.5+ MB

In [21]:
# Q1.Total Revenue from pizza sales 

# You can read your data into 'df' from a file or any other source.

df = pd.DataFrame(data)

# Calculate the total revenue
total_revenue = df['total_price'].sum()

# Print the total revenue
print("Total Revenue:", total_revenue)

Total Revenue: 817860.05

In [33]:
# Q2. Calculate the Average Order Value
# The average amount spent per order, calculated by dividing the total revenue by the total number of orders

# Create a DataFrame from the data
df = pd.DataFrame(data)


average_order_value = df['total_price'].sum() / df['order_id'].nunique()

# Print the average order value
print("Average Order Value:",average_order_value)

Average Order Value: 38.30726229508197

In [31]:
# Q3. Calculate Total pizza sold.

df=pd.DataFrame(data)

# Calculate the total pizza sold
Total_pizza_sold =  df['quantity'].sum()

print("Total pizza sold:",Total_pizza_sold)

Total pizza sold: 49574

In [32]:
#Q4. Calculate Total Orders Placed.

df=pd.DataFrame(data)

# Calculate the total pizza sold without duplicates

Total_ORDERS =  df['order_id'].value_counts().count()

#print total orders places

print("Total Orders Placed:",Total_ORDERS)

Total Orders Placed: 21350

In [34]:
#Q5. Calculate the Average Order Placed

df=pd.DataFrame(data)

# Calculate the  Average Order Placed sold without duplicates in order id.

Avg_ord_place = df['quantity'].sum()/ df['order_id'].value_counts().count()

#print Average Order Placed

print("Average Order Placed is:",Avg_ord_place)

2.321967213114754

In [37]:
#Q6. Hourly Trend for Total Pizzas sold


df=pd.DataFrame(data)

# Convert 'order_time' to datetime if it's not already in datetime format
df['order_time'] = pd.to_datetime(df['order_time'])

# Extract the hour from 'order_time' and create a new 'hour' column from order_time
df['hour'] = df['order_time'].dt.hour

# Group by 'hour' and calculate the sum of 'quantity' for each hour
result = df.groupby('hour')['quantity'].sum().reset_index()

# Rename the columns 
result.rename(columns={'hour': 'hour', 'quantity': 'total_pizzas_sold'}, inplace=True)

# Order the result by 'hour'
result = result.sort_values(by='hour')

# Print the result
print(result)

    hour  total_pizzas_sold
0      9                  4
1     10                 18
2     11               2728
3     12               6776
4     13               6413
5     14               3613
6     15               3216
7     16               4239
8     17               5211
9     18               5417
10    19               4406
11    20               3534
12    21               2545
13    22               1386
14    23                 68

In [41]:
#Q7. Weekly Trend for Total Pizzas ordered


df=pd.DataFrame(data)

# Convert 'order_date' to datetime if it's not already in datetime format
df['order_date'] = pd.to_datetime(df['order_date'], format='%d/%m/%Y')


# Extract the ISO week and year from 'order_date' and create new columns
df['Week_number'] = df['order_date'].dt.strftime('%U').astype(int)
df['Order_year'] = df['order_date'].dt.year

# Group by 'Week_number' and 'Order_year' and calculate the count of distinct 'order_id'
result = df.groupby(['Week_number', 'Order_year'])['order_id'].nunique().reset_index()

# Rename the columns 
result.rename(columns={'Week_number': 'Week_number', 'Order_year': 'Order_year', 'order_id': 'Total_ords'}, inplace=True)

# Order the result by 'Week_number' and 'Order_year'
result = result.sort_values(by=['Week_number', 'Order_year'])

# Print the result
print(result)

    Week_number  Order_year  Total_ords
0             0        2015         205
1             1        2015         499
2             2        2015         410
3             3        2015         422
4             4        2015         393
5             5        2015         440
6             6        2015         400
7             7        2015         411
8             8        2015         397
9             9        2015         438
10           10        2015         410
11           11        2015         428
12           12        2015         410
13           13        2015         412
14           14        2015         441
15           15        2015         436
16           16        2015         431
17           17        2015         401
18           18        2015         392
19           19        2015         406
20           20        2015         404
21           21        2015         399
22           22        2015         422
23           23        2015         419
24           24        2015         407
25           25        2015         422
26           26        2015         389
27           27        2015         413
28           28        2015         426
29           29        2015         429
30           30        2015         426
31           31        2015         439
32           32        2015         416
33           33        2015         409
34           34        2015         401
35           35        2015         378
36           36        2015         423
37           37        2015         424
38           38        2015         275
39           39        2015         419
40           40        2015         421
41           41        2015         465
42           42        2015         352
43           43        2015         361
44           44        2015         427
45           45        2015         429
46           46        2015         394
47           47        2015         488
48           48        2015         385
49           49        2015         355
50           50        2015         429
51           51        2015         316
52           52        2015         206

In [42]:
#Q8. Total pizza sales percentage with respect to their own category.

df=pd.DataFrame(data)


# Calculate the total sales across all categories
total_sales = df['total_price'].sum()

# Calculate the total sales percentage for each pizza category
result = df.groupby('pizza_category')['total_price'].sum() * 100 / total_sales

# Reset the index to have 'pizza_category' as a regular column
result = result.reset_index()

# Rename the columns 
result.rename(columns={'pizza_category': 'pizza_category', 0: 'total_sales_percentage'}, inplace=True)

# Print the result
print(result)

  pizza_category  total_price
0        Chicken    23.955138
1        Classic    26.905960
2        Supreme    25.456311
3         Veggie    23.682591

In [43]:
#Q9. Total pizza sales percentage with respect to their own category within the first quarter.

df=pd.DataFrame(data)


df_first_quarter = df[df['order_date'].dt.quarter == 1]

# Calculate the total sales for the first quarter
total_sales_first_quarter = df_first_quarter['total_price'].sum()

# Calculate the total sales percentage for each pizza category within the first quarter
result = df_first_quarter.groupby('pizza_category')['total_price'].sum() * 100 / total_sales_first_quarter

# Reset the index to have 'pizza_category' as a regular column
result = result.reset_index()

# Rename the columns 
result.rename(columns={'pizza_category': 'pizza_category', 0: 'total_sales_percentage'}, inplace=True)

# Print the result
print(result)

  pizza_category  total_price
0        Chicken    24.127042
1        Classic    26.799017
2        Supreme    25.006607
3         Veggie    24.067334

In [46]:
#Q10. Total pizza sales percentage with respect to their own size.

df=pd.DataFrame(data)

total_sales = df['total_price'].sum()

# Calculate the total sales percentage for each pizza size

result = df.groupby('pizza_size')['total_price'].sum() * 100 / total_sales

# Reset the index to have 'pizza_size' as a regular column

result = result.reset_index()

# Rename the columns 

result.rename(columns={'pizza_size': 'pizza_size', 'total_price': 'total_sales_percentage'}, inplace=True)

# Round the 'total_sales_percentage' column to two decimal places

result['total_sales_percentage'] = result['total_sales_percentage'].round(2)

# Order the result by 'total_sales_percentage' in descending order

result = result.sort_values(by='total_sales_percentage', ascending=False)

# Print the result

print(result)

  pizza_size  total_sales_percentage
0          L                   45.89
1          M                   30.49
2          S                   21.77
3         XL                    1.72
4        XXL                    0.12

In [47]:
#Q11. Top 10 best sellers by total sales, total quantity, and orders

df=pd.DataFrame(data)

# Group by 'pizza_name' and calculate the sum of 'total_price' for each pizza

result = df.groupby('pizza_name')['total_price'].sum().reset_index()

# Rename the columns 

result.rename(columns={'pizza_name': 'pizza_name', 'total_price': 'TOTAL_SALES'}, inplace=True)

# Sort the result by 'TOTAL_SALES' in descending order

result = result.sort_values(by='TOTAL_SALES', ascending=False)

# Retrieve the top 10 rows

top_10_result = result.head(10)

# Print the top 10 pizza names and their total sales

print(top_10_result)

                      pizza_name  TOTAL_SALES
30        The Thai Chicken Pizza     43434.25
0     The Barbecue Chicken Pizza     42768.00
4   The California Chicken Pizza     41409.50
7       The Classic Deluxe Pizza     38180.50
26       The Spicy Italian Pizza     34831.25
25   The Southwest Chicken Pizza     34705.75
14     The Italian Supreme Pizza     33476.75
12            The Hawaiian Pizza     32273.25
9          The Four Cheese Pizza     32265.70
23            The Sicilian Pizza     30940.50

In [48]:
#Q11(a). Total quantity

df=pd.DataFrame(data)

# Group by 'pizza_name' and calculate the sum of 'quantity' for each pizza

result = df.groupby('pizza_name')['quantity'].sum().reset_index()

# Rename the columns 

result.rename(columns={'pizza_name': 'pizza_name', 'quantity': 'TOTAL_QUANTITY'}, inplace=True)

# Sort the result by 'TOTAL_QUANTITY' in descending order

result = result.sort_values(by='TOTAL_QUANTITY', ascending=False)

# Retrieve the top 10 rows

top_10_result = result.head(10)

# Print the top 10 pizza names and their total quantity sold

print(top_10_result)

                      pizza_name  TOTAL_QUANTITY
7       The Classic Deluxe Pizza            2453
0     The Barbecue Chicken Pizza            2432
12            The Hawaiian Pizza            2422
20           The Pepperoni Pizza            2418
30        The Thai Chicken Pizza            2371
4   The California Chicken Pizza            2370
23            The Sicilian Pizza            1938
26       The Spicy Italian Pizza            1924
25   The Southwest Chicken Pizza            1917
1             The Big Meat Pizza            1914

In [49]:
#Q11(b). Total Orders

df=pd.DataFrame(data)

# Group by 'pizza_name' and calculate the count of distinct 'order_id' for each pizza

result = df.groupby('pizza_name')['order_id'].nunique().reset_index()

# Rename the columns 

result.rename(columns={'pizza_name': 'pizza_name', 'order_id': 'TOTAL_ORDS'}, inplace=True)

# Sort the result by 'TOTAL_ORDS' in descending order

result = result.sort_values(by='TOTAL_ORDS', ascending=False)

# Retrieve the top 10 rows

top_10_result = result.head(10)

# Print the top 10 pizza names and their total orders (distinct order IDs)

print(top_10_result)

                      pizza_name  TOTAL_ORDS
7       The Classic Deluxe Pizza        2329
12            The Hawaiian Pizza        2280
20           The Pepperoni Pizza        2278
0     The Barbecue Chicken Pizza        2273
30        The Thai Chicken Pizza        2225
4   The California Chicken Pizza        2197
25   The Southwest Chicken Pizza        1825
26       The Spicy Italian Pizza        1822
23            The Sicilian Pizza        1820
1             The Big Meat Pizza        1811

In [53]:
#Q12. Bottom 10 best sellers by total sales, total quantity, and orders.

df=pd.DataFrame(data)

# Group by 'pizza_name' and calculate the sum of 'total_price' for each pizza

result = df.groupby('pizza_name')['total_price'].sum().reset_index()

# Rename the columns 

result.rename(columns={'pizza_name': 'pizza_name', 'total_price': 'TOTAL_SALES'}, inplace=True)

# Sort the result by 'TOTAL_SALES' in ascending order

result = result.sort_values(by='TOTAL_SALES', ascending=True)

# Retrieve the top 10 rows

top_10_result = result.head(10)

# Print the top 10 pizza names and their total sales

print(top_10_result)

                      pizza_name  TOTAL_SALES
2           The Brie Carre Pizza     11588.50
11        The Green Garden Pizza     13955.75
28     The Spinach Supreme Pizza     15277.75
16       The Mediterranean Pizza     15360.50
27       The Spinach Pesto Pizza     15596.00
3            The Calabrese Pizza     15934.25
15  The Italian Vegetables Pizza     16019.25
24         The Soppressata Pizza     16425.75
6        The Chicken Pesto Pizza     16701.75
5      The Chicken Alfredo Pizza     16900.25

In [54]:
#Q12(a).FOR QUANTITY

df=pd.DataFrame(data)

result = df.groupby('pizza_name')['quantity'].sum().reset_index()

# Rename the columns 

result.rename(columns={'pizza_name': 'pizza_name', 'quantity': 'TOTAL_QUANTITY'}, inplace=True)

# Sort the result by 'TOTAL_QUANTITY' in ascending order

result = result.sort_values(by='TOTAL_QUANTITY', ascending=True)

# Retrieve the top 10 rows

top_10_result = result.head(10)

# Print the top 10 pizza names and their total quantity sold

print(top_10_result)

                      pizza_name  TOTAL_QUANTITY
2           The Brie Carre Pizza             490
16       The Mediterranean Pizza             934
3            The Calabrese Pizza             937
28     The Spinach Supreme Pizza             950
24         The Soppressata Pizza             961
27       The Spinach Pesto Pizza             970
6        The Chicken Pesto Pizza             973
15  The Italian Vegetables Pizza             981
5      The Chicken Alfredo Pizza             987
11        The Green Garden Pizza             997

In [4]:

data = pd.read_csv(r"C:\Users\gbhar\OneDrive\Desktop\pizza_sales.csv")

In [5]:
#Q12(b) For Orders

import pandas as pd


df=pd.DataFrame(data)

# Group by 'pizza_name' and calculate the count of distinct 'order_id' for each pizza

result = df.groupby('pizza_name')['order_id'].nunique().reset_index()

# Rename the columns 

result.rename(columns={'pizza_name': 'pizza_name', 'order_id': 'TOTAL_ORDS'}, inplace=True)

# Sort the result by 'TOTAL_ORDS' in ascending order

result = result.sort_values(by='TOTAL_ORDS', ascending=True)

# Retrieve the top 10 rows

top_10_result = result.head(10)

# Print the top 10 pizza names and their total orders (distinct order IDs)

print(top_10_result)

                      pizza_name  TOTAL_ORDS
2           The Brie Carre Pizza         480
16       The Mediterranean Pizza         912
3            The Calabrese Pizza         918
28     The Spinach Supreme Pizza         918
6        The Chicken Pesto Pizza         938
24         The Soppressata Pizza         941
27       The Spinach Pesto Pizza         945
15  The Italian Vegetables Pizza         952
5      The Chicken Alfredo Pizza         967
11        The Green Garden Pizza         976